/*
* @Author: Marte
* @Date:   2018-02-11 13:15:25
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-11 13:23:29
*/

.span1{
    width: 100px;
    height: 100px;
    background-color: red;
}
.span2{
    float: right;
/*     position: absolute;
top: 20px; */
    width: 100px;
    height: 100px;
    background-color: red;
}